body {
	background: url("images/gray_texture_bg.png") no-repeat center center
		fixed !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

h1 {
	font-size: 3em;
	font-weight: bold;
	font-family: monospace;
	text-shadow: 2px 2px #586A7D;
	color: #112134;
	margin: 20px;
	padding: 20px 0px 20px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0px 0px 16px 2px white;
}

#vizSourceStructureNetwork {
	background-image: url("images/network_bg.png") !important;
	background-repeat: no-repeat !important;
	height: 600px;
	border: 2px solid #6784AB;
	box-shadow: 0px 0px 16px 2px #558AAE;
	margin: 20px;
	margin-top: 0px;
}