body {
	background: url("images/gray_texture_bg.png") no-repeat center center
		fixed !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

#contentArea {
	margin: 0px 80px 20px 80px;
	text-align: center;
}

h1 {
	font-size: 3em;
	font-weight: bold;
	font-family: monospace;
	text-shadow: 2px 2px #586A7D;
	color: #112134;
	padding: 10px 8px 10px 8px;
	text-align: center;
	background-color: rgba(245, 196, 159, 0.2);
	box-shadow: 2px 2px 8px 0px black;
	display: inline-block;
	margin-bottom: 40px;
}

#vizSourceStructureNetwork {
	background-image: url("images/network_bg.png") !important;
	background-repeat: no-repeat !important;
	height: 600px;
	border: 2px solid #6784AB;
	box-shadow: 0px 0px 16px 2px #558AAE;
}

div.vis-network-tooltip {
	color: black;
}