body {
	background: url("images/gray_texture_bg.png") no-repeat center center
		fixed !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}

#contentArea {
	margin: 10px;
}

#headerArea {
	font-weight: lighter;
	font-variant: small-caps;
	text-shadow: 2px 2px rgb(50, 50, 50);
	color: rgba(228, 233, 240, 1);
	background: linear-gradient(rgba(166, 166, 166, 0.4),
		rgba(110, 110, 110, 0.4));
	border: 2px solid #67768A;
	box-shadow: 0px 2px 4px 2px #345F7D;
	display: block;
	padding: 8px;
	margin: 6px;
	margin-top: 12px;
	text-align: center;
	position: relative;
	z-index: 10;
}

#headerTitle {
	font-size: 2em;
	margin: 4px;
}

#headerProjectDetails {
	font-size: medium;
}

#vizSourceStructureNetwork {
	background-image: url("images/network_bg.png") !important;
	background-repeat: no-repeat !important;
	border: 2px solid #67768A;
	box-shadow: 0px 0px 4px 2px #345F7D;
	position: fixed;
	top: 10px;
	bottom: 10px;
	right: 16px;
	left: 16px;
}

div.vis-network-tooltip {
	color: black;
}

#fileUploadPopupPanel {
	z-index: 99 !important;
	border-width: 4px !important;
	border-style: outset !important;
	border-radius: 25px !important;
	border-color: rgb(112, 152, 197) !important;
	box-shadow: 0px 0px 16px 4px white !important;
}

#fileUploadPopupPanelImg {
	border-style: outset !important;
	border-radius: 4px !important;
	box-shadow: 0px 0px 10px 2px lightgray !important;
	padding: 8px;
	cursor: hand;
	cursor: pointer;
	width: 32px;
	height: 32px;
}

.fileUploadHeaderLabel {
	font-size: 1.4em !important;
	font-weight: bold;
}

#hrWithCenterText {
	position: relative;
	width: 240px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px rgb(50, 50, 50);
}

#hrWithCenterText::before, #hrWithCenterText::after {
	position: absolute;
	width: 100px;
	height: 2px;
	top: 19px;
	background-color: #aaa;
	content: '';
	box-shadow: 1px 2px 4px 2px rgb(50, 50, 50);
}

#hrWithCenterText::before {
	left: 0;
}

#hrWithCenterText::after {
	right: 0;
}

#ssaProjMenuPanel {
	position: absolute;
	top: 34px;
	right: 26px;
	z-index: 90;
}

.ssaProjMenuPanelBtn {
	padding: 4px !important;
	border: none !important;
	box-shadow: -2px 2px 4px 1px white;
	background: none !important;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	margin: 0px 6px 0px 6px !important;
}

.ssaProjMenuPanelBtnImg {
	width: 24px;
	height: 24px;
}

.ssaProjMenuPanelBtn:hover {
	box-shadow: -2px 2px 4px 1px #6899bd !important;
}

#ssaSearchDismissBtn {
	width: 20px;
	height: 20px;
	padding: 1px;
	margin: 1px;
	background: none;
}

#ssaSearchDismissBtnImg {
	width: 16px;
	height: 16px;
}

.menuItemImage {
	vertical-align: middle;
	padding: 1px 4px 1px 4px;
	width: 18px;
	height: 18px;
}

.menuItemWithImage {
	vertical-align: middle;
	padding: 3px 4px 3px 6px;
	border-left: 1px solid rgb(212, 212, 212);
	margin-left: 4px;
}

.gwt-PopupPanel {
	border: 2px solid #00CCFF !important;
	padding: 2px !important;
	border-radius: 6px !important;
	z-index: 99 !important;
}

.gwt-PopupPanelGlass {
	background-color: rgba(77, 77, 77, 1) !important;
	background: radial-gradient(gray 20%, black 80%);
	opacity: 0.8 !important;
	z-index: 99;
}

.com-google-gwt-user-cellview-client-CellList-Style-cellListEvenItem,
	.com-google-gwt-user-cellview-client-CellList-Style-cellListOddItem {
	cursor: default !important;
}

[disabled].gwt-Button {
	opacity: 0.2 !important;
}

.ui-mprogress .bar-bg, .ui-mprogress .buffer-bg, .ui-mprogress .deter-bar,
	.ui-mprogress .indeter-bar, .ui-mprogress .mp-ui-dashed, .ui-mprogress .query-bar
	{
	height: 6px !important;
}