<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>CodeWebViz.html</welcome-file>
	</welcome-file-list>
	
	<!-- Listeners -->
	<listener>  
    	<listener-class>
        	com.codeweb.viz.server.applistener.AppContextListener
    	</listener-class>
	</listener>

	<!-- Servlets -->
	<servlet>
		<servlet-name>ssaFileUploadServlet</servlet-name>
		<servlet-class>com.codeweb.viz.server.service.SsaFileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ssaFileUploadServlet</servlet-name>
		<url-pattern>/codewebviz/ssaFileUpload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ssaProjectsServiceServlet</servlet-name>
		<servlet-class>com.codeweb.viz.server.service.SsaProjectsServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ssaProjectsServiceServlet</servlet-name>
		<url-pattern>/codewebviz/ssaprojectsservice</url-pattern>
	</servlet-mapping>
</web-app>
